body {
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-position: top right;
    background-blend-mode: multiply;
}

body {
    width: 75%;
    margin: auto;
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }

.container {
    padding: 10% 10%;
    background-color: transparent;
    
}

.header {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #19681994;
}

.table {
    background-color: #FFFFFF;
    text-align: center;
    table-layout: auto; 
    width: 100%;
    border-collapse: collapse; 
    border: 1px solid black;
    
}

td {
    background-color: #FFFFFF;
    text-align: center;
    table-layout: fixed;
    width: 500px;
    border-collapse: collapse; 
    border: 1px solid black;
    padding: 10px;
    
   
}

th {
    background-color: #FFFFFF;
    text-align: center;
    table-layout: fixed;    
    width: 500px;
    border-collapse: collapse; 
    border: 1px solid black;
    padding: 10px;
    
}

.footer {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    color: #19681994;
}